@charset "utf-8";

@import url('reset.css');
@import url('font.css');

html{scroll-behavior: smooth;}
.shadow{box-shadow: 0 3px 6px rgba(0,0,0,0.16);}
body{letter-spacing: -0.2px;color: #222;background-color: #F2F6F8;overflow: hidden;}
body.on {overflow: scroll;}
#wrap{width: 100%;height: 100vh; }
header{width: 100%;position: absolute;height: 70px;z-index: 999;background-color: #fff;}
.H_top{height: 70px;display: flex;justify-content: space-between;width: 1240px;color: #222;margin: 0 auto;}
#logo{width: 100px;display: flex;align-items: center;}
#H_right {width: 220px;font-size: 16px;font-weight: 500;}
#H_right ul {width: 100%;display: flex;justify-content: space-between;}  
#H_right ul li {display: inline-block;line-height: 70px;cursor: pointer;}
#H_right .U_info{margin: auto 0;width: 24px;line-height: 70px;display: inline-flex;align-items: center;}
#H_right .menu {width: 24px;height: 22px;display: inline-flex;flex-direction: column;justify-content: space-between;margin: auto 0 ;}
#H_right .menu div {width: 24px;height: 3px;background-color: #222;}

#visual{width: 100%;display: flex;position: relative;height: 100vh;overflow: hidden;}
#visual::after {position: absolute;content: '';background-color: #61BBFF;width: 680px;;height: 100%;left: 0;top: 0;transition: .3s;z-index: 1;}
#visual.on::after{width: 100%;}

#V_bimg {width: 100%;height: 100%;position: absolute;}
#V_bimg:before{content: '';position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: #333F48;opacity: .9;}
#V_bimg img {width: 100%;top: 0;height: 100%;z-index: -1;}
.visual_main {width: 1240px;margin: 0 auto;position: relative;min-width: 1240px;}
.V_left{position: absolute;top: 50%;transform: translateY(-50%);z-index: 999;color: #fff;height: 266px;}
.V_left > div p {font-size: 20px;background-color: #434343;width: 114px;height: 30px;text-align: center;line-height: 28px;border-radius: 20px;color: #fff;margin-bottom: 16px;box-shadow: 0 3px 6px rgba(0,0,0,0.16);font-family:'Raleway'}
.V_left h2 {font-size: 70px;font-weight:400;font-family: 'SBAggro';text-shadow: 0 3px 6px rgba(0,0,0,0.16);}
.V_left i {font-style: normal;font-size: 48px;font-family:'Raleway' ;font-weight: 400;text-shadow: 0 3px 6px rgba(0,0,0,0.16);}
.mainst {width: 240px;padding: 12px;background-color: #fff ;color: #61BBFF;border: 1px solid #61BBFF;box-shadow: 0 3px 6px rgba(0,0,0,0.16);text-align: center;border-radius: 150px;font-size: 20px;margin-top: 30px;cursor: pointer;transition: .2s;}
.mainst:hover {background-color: #434343 ;color: #fff;border: 1px solid #434343 ;}

.V_right {width: 560px;height: 370px;overflow: hidden;position: absolute;top: 50%;transform: translateY(-50%);z-index: 999;right: 0;background-color: #434343;border-radius: 12px;}
.V_right .V_rimg {position: relative;width: 100%;height: 100%;}
.V_right .V_rimg img {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%) scale(40%);}
.V_rtx {position: absolute;right: 0;width: 44px;height: 100%;background-color: #fff;top: 0;display: flex;flex-direction: column;justify-content: space-between;align-items: center;padding: 50px 0 16px ;font-size: 20px;font-weight: 500;color: #434343;}
.V_rtx p {transform: rotate(90deg);letter-spacing: 7px;}

#V_map{position: absolute;width: 680px;z-index: 4;height: 100%;overflow: hidden;transition: .3s;}
#V_map > div > img {opacity: 0;width: 100%;pointer-events: none;}
#V_map > div .map_sw img {width: 100%;pointer-events: none;}
#V_map .mapV {opacity: 1;}
#V_map .map1 {transition: 1.5s;}
#V_map > div {position: relative;width: 100%;height: 100%;}
#V_map > div .mapV {width: 100%;opacity: 0.3;position: absolute;transition: .5s;transform: scale(150%);}
#V_map .map_sw {width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
#V_map .map_sw img {position: absolute;}
#V_map.on {overflow: inherit;width: 752px;}
#V_map.on .mapV {opacity: 0;}
#V_map.on .map1 {opacity: 0.5;}
#V_map.on .mapV {transform: scale(100%);opacity: 0.7;animation: map 1s linear forwards;}

@keyframes map {
    0%{}
    100%{transform: scale(100%);opacity: 0;}
}


#V_map.on .map_sw img {opacity: 0;}
#V_map.on .map_sw_1 {opacity: 1;position: absolute;z-index: 999;top: 0;left: 0;}
#V_map.on .map_sw_1 img {opacity: 1;position: absolute;}
#V_map.on .map_sw_1 img path { stroke-width: 1px;}
#V_map.on .map_sw_1 .map_seoul {top: 145.5762px;left: 146.8541px;width: 78.6682px;height: 60.0018px;}
#V_map.on .map_sw_1 .map_inc {width: 85.1179px;height: 60.7131px;left: 64.7413px;top: 151.8256px;}
#V_map.on .map_sw_1 .map_gyengido {width: 304.8938px;height: 331.7455px;left: 46.957px;top: 4.7805px;}
#V_map.on .map_sw_1 .map_gangwon {width: 412.4151px;height: 385.7814px;left: 224.705px;top: -56.6253px;}
#V_map.on .map_sw_1 .map_chungnam {width: 275.7655px;height: 267.1343px;left: 8.7611px;top: 287.3845px;}
#V_map.on .map_sw_1 .map_sejong {width: 40.9571px;height: 74.9607px;left: 198.8953px;top: 371.5339px;}
#V_map.on .map_sw_1 .map_daegeon {width: 55.3352px;height: 70.6725px;left: 216.5195px;top: 431.1478px;}
#V_map.on .map_sw_1 .map_chunbuk {width: 267.5325px;height: 289.1107px;left: 229.8743px;top: 260.7224px;}
#V_map.on .map_sw_1 .map_ulendo {width: 27.033px;height: 21.3316px;left: 689.4952px;top: 231.1577px;}
#V_map.on .map_sw_1 .map_dockdo {width: 10.7581px;height: 14.4002px;left: 743.027px;top: 259.217px;}
#V_map.on .map_sw_1 .map_gyengbuk {width: 337.0568px;height: 362.382px;left:325.8814px;top: 307.4548px;}
#V_map.on .map_sw_1 .map_daegu {width: 82.652px;height: 86.6639px;left:419.1938px;top: 567.1812px;}
#V_map.on .map_sw_1 .map_junbuk {width: 293.0376px;height: 208.8149px;left:42.186px;top: 507.189px}
#V_map.on .map_sw_1 .map_ulsan {width: 94.707px;height: 97.8529px;left:539.6815px;top: 639.9055px}
#V_map.on .map_sw_1 .map_jejudo {width: 155.5626px;height: 80.888px;left:508.1285px;top: 841.3234px}
#V_map.on .map_sw_1 .map_busan {width: 104.913px;height: 77.3402px;left:495.064px;top: 721.1693px}
#V_map.on .map_sw_1 .map_gyengnam {width: 320.2498px;height: 300.2555px;left:261.8577px;top: 576.941px}
#V_map.on .map_sw_1 .map_gwangju {width: 71.3458px;height: 44.6646px;left:73.8564px;top: 716.5216px}
#V_map.on .map_sw_1 .map_junnam {width: 370.6055px;height: 280.291px;left:-77.476px;top: 662.5048px}




.V_scroll{position: absolute;width: 20px;height: 24px;bottom: 5px;background-color: #fff;left: 50%;transform: translateX(-50%);z-index: 999;display: none;}

#V_search {position: absolute;right: 0;top: calc(50% + 80px);z-index: 999;transform: translateY(-50%);display: none;}
#V_search form > div {width: 528px;height: 50px;background-color: #fff;border-radius: 300px;display: flex;align-items: center;padding: 0 23px;gap: 13px;}
#V_search form > div button {background-color: #fff;height: 21.56px;cursor: pointer;}
#V_search form input::placeholder {color: #777;font-size: 16px;}
#V_search form ul {width: 100%;}
#V_search form ul li:first-child{margin-top: 10px;}
#V_search form ul li {display: flex;align-items: center;height: 50px;padding: 0 28px;color: #fff;justify-content: space-between;border-radius: 300px;transition: .1s;cursor: pointer;}
#V_search form ul li div {gap: 16px;display: flex;}
#V_search form li p{display: inline-block;font-size: 14px;}
#V_search form li span {font-size: 12px;}
#V_search form li:hover {background-color: #7091A9;}

section {width: 1240px;margin: 110px auto;}
section h2{font-size: 36px;margin-bottom: 36px;}
section .s_search {}
section .sec1 {width: 100%;display: flex;flex-wrap: wrap;margin-bottom: 80px;}
section .sec1 > div {width: 100%;border-bottom: 1px solid #C8C8C8;display: flex;text-align: center;padding: 26px 0;align-items: center;}
section .sec1 > div:last-child {border-bottom: none;}
section .sec1 .sc1_1 {font-size: 28px;font-weight: bold;width: 5%;}
section .sec1 .sc1_2 {font-size: 28px;font-weight: bold;width: 30%;text-align: left;padding-left: 100px;}
section .sec1 .sc1_2 span {font-size: 18px;color: #707070;font-weight: normal;}
section .sec1 .sc1_3 {display: flex;gap: 10px;width: 57%;justify-content: left;padding-left: 50px;}
section .sec1 .sc1_3 p {border: 1px solid #61BBFF;color: #61BBFF;border-radius: 100px;padding: 4px 10px;display: flex;align-items: center;}
section .sec1 .sc1_4 {width: 8%;}
section .sec1 .sc1T div {font-size: 16px;color: #707070;font-weight: normal;}
section .sec1 .sc1T .sc1_3 {display: block;text-align: left;}
section .sec1 .sc1B:nth-child(2) .sc1_1, section .sec1 .sc1B:nth-child(3) .sc1_1, section .sec1 .sc1B:nth-child(4) .sc1_1 {color: #61BBFF;}

section .sec2 {width: 100%;}
section .sc2T {flex-wrap: wrap;display: flex;justify-content: space-between;gap: 28px;display: none;margin-top: 28px;}
section .sc2T.on {display: flex;}
section .sc2T > div {width: 23%;margin-bottom: 20px;}
section .sc2T > div img {width: 100%;}
section .sc2T > div p {margin-top: 10px;font-size: 36px;font-weight: bold;}
section .sc2T > div span {font-size: 20px;font-weight: normal;}
section .sc2T:first-child {display: flex;margin-top: 0;}

section .sc2more {width: 100%;font-size: 20px;color: #61BBFF;border: 1px solid #61BBFF;border-radius: 500px;padding: 15px 0;text-align: center;margin-top: 20px;}
section .test {width: 100%;font-size: 20px;color: #999;border: 1px solid #999;border-radius: 500px;padding: 15px 0;text-align: center;margin-top: 20px;}

/* 로그인 */
#loginpop {top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 60px 40px 40px;background-color: #fff;box-shadow: 0 20px 40px rgba(0,0,0,0.16);border-radius: 10px;height: 570px;width: 500px;position: relative;overflow: hidden;}
.login {position: absolute;}
.login .logo{width: 100px;margin: 0 auto 50px;}
.login .logo img {width: 100%;}
.login .loginId {display: flex;align-items: center;border: 1px solid #D4DFE8;border-radius: 5px;width: 420px;font-size: 14px;justify-content: space-between;height: 48px;padding: 0 15px;}
.login .loginId.on {border: 1px solid #61BBFF;}
.loginId.on path {fill: #61BBFF !important;}
.loginPw.on path {fill: #61BBFF !important;}
.loginId.on input {color: #61BBFF;}
.loginPw.on input {color: #61BBFF;}
.loginPw.on {border: 1px solid #61BBFF;color: #61BBFF;}
.loginId input {background-color: transparent;width: 100%;height: 100%;}
.loginPw input {background-color: transparent;width: 100%;height: 100%;}
.loginId input::placeholder{color: #D4DFE8}
.loginPw input::placeholder{color: #D4DFE8}
.loginPw {margin-bottom: 26px;display: flex;align-items: center;border: 1px solid #D4DFE8;border-radius: 5px;width: 420px;font-size: 14px;justify-content: space-between;height: 48px;padding: 0 15px;}
.keepLgn {font-size: 14px;display: flex;align-items: center;justify-content: space-between;margin-bottom: 26px;}
.keepLgn div {display: flex;align-items: center;}
.keepLgn input {margin-right: 5px;background-color: #D4DFE8;}
.keepLgn span {color: #949494;cursor: pointer;}
.loginBtn {width: 100%;padding: 15px;margin-bottom: 14px;text-align: center;background-color: #61BBFF;border-radius: 5px;color: #fff;cursor: pointer;}
.simpleLgn {width: 100%;padding: 15px;margin-bottom: 40px;text-align: center;background-color: #FEE339;position: relative;border-radius: 5px;cursor: pointer;}
.simpleLgn::before{position: absolute;content: url(../img/kakao.png);left: 15px;top: 50%;transform: translateY(-50%);}
.login_B {text-align: center;font-size: 14px;width: 100%;margin: 0 auto;cursor: pointer;position: absolute;bottom: 30px;left: 50%;transform: translateX(-50%);}
.login_B .lb_2 {display: none;}

/* 회원가입 */
.sign {position: absolute;display: none;transition: .1s;opacity: 0;}
.sign .logo{margin: 0 auto 50px;font-size: 28px;text-align: center;font-weight: 500;}
.sign .logo img {width: 100%;}
.loginId {margin-bottom: 10px;display: flex;align-items: center;border: 1px solid #D4DFE8;border-radius: 5px;width: 420px;font-size: 14px;justify-content: space-between;height: 48px;padding: 0 15px;}
.loginem {border: 0;padding: 0;display: flex;gap: 7px;}
.sign .logincer {display: flex;display: flex;align-items: center;border-radius: 5px;width: 420px;font-size: 14px;justify-content: space-between;padding: 0 6px 0 15px;height: 0;overflow: hidden;transition: .3s;opacity: 0;} 
.sign .logincer.on {height: 48px;opacity: 1;border: 1px solid #61BBFF;margin-bottom: 10px;}
.sign .logincer.on input {color: #61BBFF;}
.logincer input::placeholder{color: #D4DFE8}
.logincer input {background-color: transparent;height: 100%;width: 100%;}
.sign .logincer div {display: flex;align-items: center;gap: 10px;}
.sign .logincer span {display: block;color: #f10707;}
.sign .logincer p {display: flex;align-items: center;justify-content: center;width: 50px;height: 100%;cursor: pointer;background-color: #61BBFF;color: #fff;border-radius: 5px;height: 36px;}
.loginem input {width: 337px; border: 1px solid #D4DFE8;border-radius: 5px;padding: 0 15px;}
.loginem .jo {width: 100px;border: 1px solid #61BBFF;border-radius: 5px;height: 48px;display: flex;align-items: center;justify-content: center;font-size: 14px;color: #61BBFF;cursor: pointer;transition: .2s;}
.loginem .jo:hover {color: #fff;background-color: #61BBFF;}
.sign .loginId.on input {border: 1px solid #61BBFF;}
.loginId.on path {fill: #61BBFF !important;}
.loginPw.on path {fill: #61BBFF !important;}
.loginId.on input {color: #61BBFF;}
.loginPw.on input {color: #61BBFF;}
.loginPw.on {border: 1px solid #61BBFF;color: #61BBFF;}
.loginId input {background-color: transparent;width: 100%;height: 100%;}
.loginPw input {background-color: transparent;width: 100%;height: 100%;}
.loginId input::placeholder{color: #D4DFE8}
.loginPw input::placeholder{color: #D4DFE8}
.loginPw {margin-bottom: 10px;display: flex;align-items: center;border: 1px solid #D4DFE8;border-radius: 5px;width: 420px;font-size: 14px;justify-content: space-between;height: 48px;padding: 0 15px;}
.keepLgn {font-size: 14px;display: flex;align-items: center;justify-content: space-between;margin-bottom: 26px;}
.keepLgn div {display: flex;align-items: center;}
.keepLgn input {margin-right: 5px;background-color: #D4DFE8;}
.keepLgn span {color: #949494;cursor: pointer;}
.loginBtn {width: 100%;padding: 15px;margin-bottom: 14px;text-align: center;background-color: #61BBFF;border-radius: 5px;color: #fff;cursor: pointer;}
.simpleLgn {width: 100%;padding: 15px;margin-bottom: 40px;text-align: center;background-color: #FEE339;position: relative;border-radius: 5px;cursor: pointer;}
.simpleLgn::before{position: absolute;content: url(/img/kakao.png);left: 15px;top: 50%;transform: translateY(-50%);}
.login > p {text-align: center;font-size: 14px;width: 100%;margin: 0 auto;cursor: pointer;}

/* 비밀번호 찾기 */
.F_pw {position: absolute;display: none;transition: .1s;opacity: 0;}
.F_pw .logo{margin: 0 auto 50px;font-size: 28px;text-align: center;font-weight: 500;}
.F_pw .loginId {display: flex;flex-wrap: wrap;height: auto;}
.F_pw .loginId input {height: 48px;}
.F_pw .loginId p {width: 100%;color: #f10707;height: 0;overflow: hidden;transition: .3s;}
.F_pw .loginId p.on {height: auto;}